name: Tests

on:
  push:
    branches:
      - main
  pull_request: ~

jobs:
  build:
    name: Test Suite
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: mbstring, xml, hash, ctype, iconv, curl

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - name: Validate composer.lock
        run: composer validate --strict

      - name: Run lint and analyse
        run: composer lint

      - name: Run test
        run: composer test
